.billing_main {
    text-align: center;
}

.billing_header {
    background-color: red;
    height: 70px;
    position: fixed;
    width: 100%;
}

.billing_header-customer{
    background-color: green;
    height: 120px;
    margin-top: 70px;
    position: fixed;
    width: 50%;
}

.billing_header-conditions {
    background-color: blue;
    height: 120px;
    margin-left: 50%;
    margin-top: 70px;
    position: fixed;
    width: 25%;
}

.billing_totals {
    background-color: yellow;
    height: 100%;
    margin-left: 75%;
    margin-top: 70px;
    position: fixed;
    width: 25%;
}

.billing_items{
    background-color: purple;
    height: 100%;
    margin-top: 190px;
    position: fixed;
    width: 75%;
}