
.billing_footer-main {
    display: grid;
    grid-template-areas: 
        'Buttons Data';
    grid-template-columns: 25% 75%;
}

.billing_footer-buttons {
    grid-area: Buttons;
    display: grid;
    grid-template-areas: 
        'Save Next Cancel';
    grid-template-columns: 100px 100px 100px;
    gap: 10px;
}

.billing_footer-buttons-save {
    grid-area: Save;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-top: 5px;
    width: 80%;
    display: grid;
    grid-template-areas: 
        'IconSave'
        'LabelSave';
    grid-template-rows: 60% 40%;
    cursor: pointer;
}

.billing_footer-buttons-save-icon {
    grid-area: IconSave;
    height: 100%;
    color: #F68A1D;

    :hover {
        background-color: #c7c7c7;
    }
}

#iconSave {
    height: 100%;
    width: 35%;
}

#labelSave {
    font-size: 15px;
    font-weight: 600;
    grid-area: LabelSave;
}

.billing_footer-buttons-next {
    grid-area: Next;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-top: 5px;
    width: 80%;
    display: grid;
    grid-template-areas: 
        'IconNext'
        'LabelNext';
    grid-template-rows: 60% 40%;
    cursor: pointer;
}

.billing_footer-buttons-next-icon {
    grid-area: IconNext;
    height: 100%;
    color: #F68A1D;

    :hover {
        background-color: #c7c7c7;
    }
}

#iconNext {
    height: 100%;
    width: 35%;
}

#labelNext{
    font-size: 15px;
    font-weight: 600;
    grid-area: LabelNext;
}

.billing_footer-buttons-cancel {
    grid-area: Cancel;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-top: 5px;
    width: 80%;
    display: grid;
    grid-template-areas: 
        'IconCancel'
        'LabelCancel';
    grid-template-rows: 60% 40%;
    cursor: pointer;
}

.billing_footer-buttons-cancel-icon {
    grid-area: IconCancel;
    height: 100%;
    color: #F68A1D;
    
    :hover {
        background-color: #c7c7c7;
    }
}

#iconCancel {
    height: 100%;
    width: 35%;
}

#labelCancel {
    font-size: 15px;
    font-weight: 600;
    grid-area: LabelCancel;
}

.billing_footer-data {
    grid-area: Data;
    display: grid;
    grid-template-areas: 
        'date vence checks name user';
    grid-template-columns: 175px 120px 175px 320px 234px;
}

.billing_footer-data-date {
    grid-area: date;
    display: grid;
    grid-template-areas: 
        'labelFecha'
        'inputFecha';
    grid-template-rows: 50% 50%;        
}

#lblFecha {
    font-size: 15px;
    grid-area: labelFecha;
    margin-top: 15px;
    text-align: start;
}

#txtFecha {
    font-size: 12px;
    grid-area: inputFecha;
    height: 70%;
    margin-top: 5px;
    width: 90%;
}

.billing_footer-data-vence {
    grid-area: vence;
    display: grid;
    grid-template-areas: 
        'labelVence'
        'inputVence';
    grid-template-rows: 50% 50%; 
}

#lblVence {
    font-size: 15px;
    grid-area: labelVence;
    margin-top: 15px;
    text-align: start;
}

#txtVence {
    font-size: 12px;
    grid-area: inputVence;
    height: 70%;
    margin-top: 5px;
    width: 90%;
}

.billing_footer-data-checks {
    grid-area: checks;
    display: grid;
    grid-template-areas: 
        'checkEntregado checkAnulada';
    grid-template-columns: 50% 50%; 
    font-size: 15px;
    padding-top: 15px;
}

.billing_footer-data-checks-Entregado {
    grid-area: checkEntregado;
}

.billing_footer-data-checks-Anulada {
    grid-area: checkAnulada;
}

.billing_footer-data-name {
    grid-area: name;
}

#lblName {
    font-size: 15px;
    padding-top: 25px;
}

.billing_footer-data-user {
    grid-area: user;
    display: grid;
    grid-template-areas: 
        'labelCaja'
        'dataUser';
    grid-template-rows: 60% 40%; 
}

.billing_footer-data-user-caja {
    color: #3083E1;
    font-size: 20px;
    grid-area: labelCaja;
    padding-left: 15px;
    padding-top: 5px;
    text-align: center;
}

.billing_footer-data-user-data {
    grid-area: dataUser;
    display: grid;
    grid-template-areas: 
        'labelUser labelPass labelSistema';
    grid-template-columns: 33% 33% 34%; 
}

#lblUser {
    background-color: red;
    color: white;
    font-size: 15px;
    grid-area: labelUser;
    margin-bottom: 5px;
    padding-left: 5px;
    text-align: start;
}

#lblPass {
    font-size: 15px;
    grid-area: labelPass;
    padding-left: 5px;
    padding-top: 5px;
    text-align: start;
}

#lblSistema {
    background-color: #93EADA;
    grid-area: labelSistema;
    margin-bottom: 5px;
}

