.openCash_datosCajero-main {
    display: grid;
    height: 85%;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    border: 1px solid black;
    grid-template-areas: 
        'title'
        'inputs';
    grid-template-rows: 40% 60%;
}

.openCash_datosCajero-title {
    grid-area: title;
    background-color: #3D62DB;
}

#lblOpenCash_datosCajeroTitle {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-top: 2px;
    text-align: center;
}

.openCash_datosCajero-inputs {
    grid-area: inputs;
    display: grid;
    height: 100%;
    grid-template-areas: 
        'cajero nCaja';
    grid-template-columns: 70% 30%;
    // background-color: blue;
}

.openCash_datosCajero-inputs-cajero {
    grid-area: cajero;
    display: grid;
    height: 100%;
    grid-template-areas: 
        'lblcajero inputcajero1 inputcajero2';
    grid-template-columns: 20% 50% 30%;
    // background-color: red;
}

#lblCajeroOpenCash {
    grid-area: lblcajero;
    color: #316DDD;
    font-size: 15px;
    padding-top: 5px;
    text-align: center;
}

#txtOpenCash_datosCajeroCajero1 {
    grid-area: inputcajero1;
    text-align: center;
    height: 70%;
    width: 95%;
    margin-top: 5px;
    font-size: 15px;
}

#txtOpenCash_datosCajeroCajero2 {
    grid-area: inputcajero2;
    text-align: center;
    height: 70%;
    width: 95%;
    margin-top: 5px;
    font-size: 15px;
}

.openCash_datosCajero-inputs-nCaja {
    grid-area: nCaja;
    display: grid;
    height: 100%;
    grid-template-areas: 
        'lblNCaja cboNCaja';
    grid-template-columns: 40% 50% ;
    // background-color: green;
}

#lblNCajaOpenCash {
    grid-area: lblNCaja;
    color: #316DDD;
    font-size: 15px;
    padding-top: 5px;
    text-align: center;
}

#cboNCajaOpenCash {
    grid-area: cboNCaja;
    text-align: center;
    height: 70%;
    width: 95%;
    margin-top: 5px;
    font-size: 15px;
}
