.settings_body-main {
    display: grid;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-areas: 
        'tabs'
        'content';
    grid-template-rows: 10% 90%;
    border: 1px solid black;
}

.settings_body-tabs {
    grid-area: tabs;
    padding-top: 8px;
    // background-color: red;
}

.settings-tabs {
    display: inline-block;
}

.settings-tab {
    background: transparent;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    font-size: 15px;
    margin-right: 5px;
    padding: 5px 15px;
}

.settings-tab.active {
    background: $primary;
    border-top-right-radius: 15%;
    border: 1px solid #ddd;
    color: #F2F4F4;
}

.settings_body-content {
    grid-area: content;
    border: 1px solid #ddd;
}
