.inventory_header-article-main {
    grid-area: header-article;
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-areas: 
        'first-line first-line first-line first-line first-line first-line'
        'codigo-barras codigo-barras codigo-barras familias familias familias'
        'codigo-barras codigo-barras codigo-barras familias familias familias'
        'last-line last-line last-line last-line last-line last-line';
    grid-template-rows: 45px 38px 38px 30px;
    grid-template-columns: 50px 50px 500px;
}

.inventory_header-article-first-line {
    grid-area: first-line;
    display: grid;
    grid-template-areas: 
        'codigo desc checks presentacion';
    grid-template-columns: 15% 40% 30% 15%;
    // background-color: aqua;
}

.inventory_header-article-first-line-codigo{
    grid-area: codigo;
    display: grid;
    grid-template-areas: 
        'labelCodigoProducto'
        'inputCodigoProducto';
    // background-color: red;
}

#lblCodigoProducto {
    grid-area: labelCodigoProducto;
    font-size: 15px;
    text-align: start;
    padding-left: 15px;
}

#txtCodigoProducto {
    grid-area: inputCodigoProducto;
    height: 75%;
    margin-left: 15px;
    width: 90%;
    font-size: 15px;
}

.inventory_header-article-first-line-desc{
    grid-area: desc;
    display: grid;
    grid-template-areas: 
        'labelDescripcion'
        'inputDescripcion';
    // background-color: green;
}

#lblDescripcion {
    grid-area: labelDescripcion;
    font-size: 15px;
    text-align: start;
    padding-left: 15px;
}

#txtDescripcion {
    grid-area: inputDescripcion;
    height: 75%;
    margin-left: 15px;
    width: 95%;
    font-size: 15px;
}

.inventory_header-article-first-line-checks{
    grid-area: checks;
    display: grid;
    grid-template-areas: 
        'actualizado completos contado';
    grid-template-columns: 30% 37% 34%;
    // background-color: yellow;
}

.inventory_header-article-first-line-checks-Actualizado {
    grid-area: actualizado;
    padding-top: 5px;
    // background-color: red;
}

.inventory_header-article-first-line-checks-Completos {
    grid-area: completos;
    padding-top: 5px;
    // background-color: blue;
}

.inventory_header-article-first-line-checks-contado {
    grid-area: contado;
    padding-top: 5px;
    // background-color: green;
}

#lblActualizado {
    font-size: 15px;
}

#lblCompletos {
    font-size: 15px;
}

#lblContado {
    font-size: 15px;
}

.inventory_header-article-first-line-presentacion{
    grid-area: presentacion;
    display: grid;
    grid-template-areas: 
        'labelPresentacion'
        'inputsPresentacion';
    // grid-template-rows: ;
    // background-color: blue;
}

#lblPresentacion {
    grid-area: labelPresentacion;
    font-size: 15px;
    text-align: start;
    padding-left: 5px;
}

.inventory_header-article-first-line-presentacion-inputs {
    grid-area: inputsPresentacion;
    display: grid;
    grid-template-areas: 
        'inputCantidad inputMedida';
    grid-template-columns: 70px 120px;
}

#txtcantidadPresentacion {
   grid-area: inputCantidad;
   height: 80%;
   margin-left: 5px; 
   font-size: 15px;
}

#cbomedidaPresentacion {
    grid-area: inputMedida; 
    height: 80%;
    font-size: 14px;
    padding-left: 5px;
}

.inventory_header-article-codigo-barras {
    grid-area: codigo-barras;
    // background-color: yellowgreen;
    display: grid;
    grid-template-areas: 
        'codigosBarras'
        'checks';
    grid-template-rows: 60% 40%;

}

.inventory_header-article-codigo-barras-Codigos {
    grid-area: codigosBarras;
    display: grid;
    grid-template-areas: 
        'codigoOne codigoTwo codigoThree';
    grid-template-columns: 200px 200px 215px;
    grid-template-rows: 50px 50px 50px;
    // background-color: red;
}

.inventory_header-article-codigo-barras-codigoOne {
    grid-area: codigoOne;
    display: grid;
    grid-template-areas: 
        'lblcodigosBarrasOne'
        'inputcodigosBarrasOne';
    grid-template-rows: 50% 50%;
}

#lblCodigoBarrasOne {
    grid-area: lblcodigosBarrasOne;
    font-size: 15px;
    text-align: start;
    padding-left: 25px;
    padding-top: 5px;
}

.inventory_header-article-codigo-barras-codigoOne-input {
    grid-area: inputcodigosBarrasOne;
    margin-top: 2px;
}

#txtCodigoBarrasOne {
    font-size: 14px;    
    margin-bottom: 2px;
}

.inventory_header-article-codigo-barras-codigoTwo {
    grid-area: codigoTwo;
    display: grid;
    grid-template-areas: 
        'lblcodigosBarrasTwo'
        'inputcodigosBarrasTwo';
    grid-template-rows: 50% 50%;
    // background-color: blue;
}

#lblCodigoBarrasTwo {
    grid-area: lblcodigosBarrasTwo;
    font-size: 15px;
    text-align: start;
    padding-left: 25px;
    padding-top: 5px;
}

.inventory_header-article-codigo-barras-codigoTwo-input {
    grid-area: inputcodigosBarrasTwo;
    margin-top: 2px;
}

#txtCodigoBarrasTwo {
    font-size: 14px;    
    margin-bottom: 2px;
}

.inventory_header-article-codigo-barras-codigoThree {
    grid-area: codigoThree;
    display: grid;
    grid-template-areas: 
        'lblcodigosBarrasThree'
        'inputcodigosBarrasThree';
    grid-template-rows: 50% 50%;
    // background-color: green;
}

#lblCodigoBarrasThree {
    grid-area: lblcodigosBarrasThree;
    font-size: 15px;
    text-align: start;
    padding-left: 25px;
    padding-top: 5px;
}

.inventory_header-article-codigo-barras-codigoThree-input {
    grid-area: inputcodigosBarrasThree;
    margin-top: 2px;
    margin-right: 15px;
}

#txtCodigoBarrasThree {
    font-size: 14px;    
    margin-bottom: 2px;
}

.inventory_header-article-codigo-barras-checks {
    grid-area: checks;
    margin-top: 5px;
    display: grid;
    grid-template-areas: 
        'checkMostrar checkRebaja';
    // background-color: yellow;
}

.inventory_header-article-codigo-barras-checks-mostrar {
    grid-area: checkMostrar;
    display: grid;
    grid-template-areas: 
        'inputMostrar labelMostrar';
        grid-template-columns: 50% 50%;
    // background-color: aqua;
}

.inventory_header-article-codigo-barras-checks-mostrar-input {
    grid-area: inputMostrar;
    padding-top: 5px;
    padding-left: 80%;
    // background-color: red;
}

#lblMostrar {
    grid-area: labelMostrar;
    text-align: start;
    padding-top: 5px;
    font-size: 15px;
    // background-color: green;
}

.inventory_header-article-codigo-barras-checks-rebaja {
    grid-area: checkRebaja;
    display: grid;
    grid-template-areas: 
        'inputRebaja labelRebaja';
    // background-color: yellow;
}

.inventory_header-article-codigo-barras-checks-rebaja-input {
    grid-area: inputRebaja;
    padding-top: 5px;
    padding-left: 80%;
}

#lblRebaja {
    grid-area: labelRebaja;
    text-align: start;
    padding-top: 5px;
    font-size: 15px;
}


.inventory_header-article-familias {
    grid-area: familias;
    background-color: goldenrod;
}

.inventory_header-article-last-line {
    grid-area: last-line;
    background-color: chartreuse;
}