.collect_body-main {
    border: 1px solid black;
    display: grid;
    height: 95%;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    grid-template-areas: 
        'firstLine'
        'secondLine';
    grid-template-rows: 35% 65%;
}

.collect_body-firstLine {
    display: grid;
    grid-area: firstLine;
    height: 100%;
    grid-template-areas: 
        'datosCliente monedas';
    grid-template-columns: 70% 30%;
}

.collect_body-firstLine-datosCliente {
    border-right: 1px solid black;
    display: grid;
    grid-area: datosCliente;
    height: 100%;
    grid-template-areas: 
        'titleDatosCliente'
        'inputsDatosCliente';
    grid-template-rows: 30% 70%;
}

#lblDatosClienteCollect {
    background-color: #3D62DB;
    color: white;
    font-size: 15px;
    grid-area: titleDatosCliente;
    padding-top: 2px;
}

.collect_body-firstLine-datosCliente-inputs {
    display: grid;
    grid-area: inputsDatosCliente;
    height: 100%;
    grid-template-areas: 
        'codigo nombreCliente filtrar';
    grid-template-columns: 20% 60% 20%;
}

.collect_body-firstLine-datosCliente-inputs-codigo {
    display: grid;
    grid-area: codigo;
    height: 100%;
    margin-bottom: 5px;
    grid-template-areas: 
        'lblcodigo'
        'txtcodigo';
    grid-template-rows: 40% 60%;
}

#lblCodigoClienteCollect {
    font-size: 15px;
    grid-area: lblcodigo;
    padding-left: 30px;
    padding-top: 3px;
    text-align: start;
}

#txtCodigoClienteCollect {
    font-size: 15px;
    grid-area: txtcodigo;
    height: 70%;
    margin-left: 30px;
    margin-top: 1px;
    width: 70%;
}

.collect_body-firstLine-datosCliente-inputs-nombre {
    display: grid;
    grid-area: nombreCliente;
    height: 100%;
    margin-bottom: 5px;
    grid-template-areas: 
        'lblnombre'
        'txtnombre';
    grid-template-rows: 40% 60%;
}

#lblNombreClienteCollect {
    font-size: 15px;
    grid-area: lblnombre;
    padding-left: 30px;
    padding-top: 3px;
    text-align: start;
}

#txtNombreClienteCollect {
    font-size: 15px;
    grid-area: txtnombre;
    height: 70%;
    margin-left: 30px;
    margin-top: 1px;
    width: 90%;
}

.collect_body-firstLine-datosCliente-inputs-filtrar {
    display: grid;
    grid-area: filtrar;
    height: 100%;
    margin-bottom: 5px;
    padding-top: 15px;
    grid-template-areas: 
        'checkFiltar lblFiltar';
    grid-template-rows: 10% 90%;
}

.collect_body-firstLine-datosCliente-inputs-filtrar-input {
    grid-area: checkFiltar;
}

#lblFiltrarCollect {
    font-size: 15px;
    grid-area: lblFiltar;
    text-align: start;
}

.collect_body-firstLine-monedas {
    display: grid;
    grid-area: monedas;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    grid-template-areas: 
        'monedaCollect'
        'tipoCambioCollect'
        'fechaCollect';
    grid-template-rows: 33% 33% 33%;
}

.collect_body-firstLine-monedas-moneda {
    display: grid;
    grid-area: monedaCollect;
    height: 100%;
    grid-template-areas: 
        'lblMoneda cboMoneda';
    grid-template-columns: 50% 50%;
}

#lblMonedaCollect {
    color: #566DC7;
    font-weight: bold;
    grid-area: lblMoneda;
    padding-top: 3px;
}

#cboMonedaCollect {
    font-size: 15px;
    grid-area: cboMoneda;
    height: 80%;
    margin-top: 2px;
    text-align: start;
}

.collect_body-firstLine-monedas-tipoCambio {
    display: grid;
    grid-area: tipoCambioCollect;
    height: 100%;
    grid-template-areas: 
        'lbltipoCambio inputtipoCambio';
    grid-template-columns: 50% 50%;
}

#lblTipoCambioCollect {
    color: #566DC7;
    font-weight: bold;
    grid-area: lbltipoCambio;
    padding-top: 3px;
}

#txtTipoCambioCollect {
    font-size: 15px;
    grid-area: inputtipoCambio;
    height: 80%;
    margin-top: 2px;
    text-align: start;
}

.collect_body-firstLine-monedas-fecha {
    display: grid;
    grid-area: fechaCollect;
    height: 100%;
    grid-template-areas: 
        'lblfecha inputfecha';
    grid-template-columns: 50% 50%;
}

#lblFechaCollect {
    color: #566DC7;
    font-weight: bold;
    grid-area: lblfecha;
    padding-top: 3px;
}

#txtFechaCollect {
    font-size: 15px;
    grid-area: inputfecha;
    height: 80%;
    margin-top: 2px;
    text-align: start;
}

.collect_body-secondLine {
    grid-area: secondLine;
    background-color: yellowgreen;
}
